.contact{
    margin-left: 0;
}

.contact__info{
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid;
    padding: 5px;
}

.contact__checkbox{
    margin: 15px;
}

.contact__avatar{
    border: 1px solid rgb(73, 73, 73);
    margin-right: 15px;
}

.contact__input{
    display: flex;
    height: 50px;
    width: 100%;
}

.contact__search{
    width: 100%;
    border: 1px solid lightgray;
}